# http://travis-ci.org/#!/gjhiggins/tempita
language: python
# whitelist
branches:
  only:
    - master
sudo: false
python: 3.5

env:
    - TOX_ENV=py26
    - TOX_ENV=py27
    - TOX_ENV=py32
    - TOX_ENV=py33
    - TOX_ENV=py34
    - TOX_ENV=py35
    - TOX_ENV=pypy

install:
    - pip install flake8 tox
    - python setup.py install
script:
    - tox -e $TOX_ENV
before_script:
    - flake8 --exit-zero tempita
